.first-container-policy{
    padding-left: 130px;
    margin-top: 40px;
}

#el-1{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #BBBDBF;
    margin-top: 60px;
    margin-bottom: 20px;
}

#el-2{
    font-family: 'Mustica Pro', sans-serif;
    font-weight: 600;
    font-size: 44px;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 2px 2px lightgray;
    line-height: 100%;
}

#el-3{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #232932;
    line-height: 140%;
    margin-top: 30px;
}

.main-button{
    margin-top: 50px;
    background-color: #0EADB5;
    color: #FFFFFF;
    font-weight: 600;
    padding: 20px;
    border: none;
    border-radius: 60px;
}

.button-arrow{
    padding-left: 40px;
}

.button-name{
    padding-top: 2px;
    padding-left: 10px;
}

.main-button-container {
    display: flex;
}

.black-text{
    color: #232932;
    margin-bottom: 10px;
}

.blue-text{
    color: #0EADB5;
}

.clip-button{
    background-color: #FFFFFF;
    font-weight: 600;
    padding: 10px;
    margin: 55px 30px 20px 30px;
    border-color: #0EADB5;
    border-style: solid;
    border-radius: 60px;
}

.text-social-media{
    color: #BBBDBF;
    font-size: 16px;
}

.social-icons img{
    width: 17px;
    height: 17px;
    margin-left: 25px;
}

.second-container-policy {
    padding-right: 111px;
    position: relative;
    width: 100%;
}

.circle_grl_policy{
    margin-bottom: 40px;
    margin-right: 60px;
}

#circle_grl_policy {
    width: 456px;
    height: 570px;
}

#lock{
    width: 170px;
    height: 170px;
    top: 400px;
    left: 85px;
}

#circle_grl_policy, #lock{
    position: relative;
}