.policy-sect-two {
    background: #F9F9FB;
    display:inline-block;
    width: fit-content;
}

.policy-content {
    padding: 40px 300px 80px 100px;
    margin-left: 30px;
}

.policy-content span{
    font-size: 18px;
    font-family: 'Mustica Pro', sans-serif;
    line-height: 140%;
    text-shadow: 1px 3px 2px lightgray;
    color: #BBBDBF;
}

.policy-content h2{
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 1px 3px 2px lightgray;
    color: #232932;
}

.policy-content h5{
    font-family: 'Montserrat', sans-serif;
    color: #232932;
    line-height: 140%;
    text-shadow: 1px 3px 2px lightgray;
    font-weight: 100;
}