@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.content{
    /*background-color: grey;*/
    padding: 35px 60px;
    box-shadow: 1px 2px 4px #eeeeee;
}

.img-logo {
    width: 143px;
    height: 52px;
}

.img-ukr {
    width: 38px;
    height: 38px;
    margin-left: 40px;
}

.nav-item {
    /*margin-left: 30px;*/
    margin-top: 5px;
    /*color: #232932 !important;*/
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a:visited {
    color: #BBBDBF;
}

/*ul.nav li a, ul.nav li a:visited {*/
/*    color: #BBBDBF !important;*/
/*}*/

/*ul.nav li a:hover, ul.nav li a:active {*/
/*    color: #232932 !important;*/
/*}*/

/*ul.nav li.active a {*/
/*    color: #232932 !important;*/
/*}*/

.lang-content{
    display: flex;
}

.lang-section {
    margin-top: 5.5px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.lang-el-1{
    font-weight: 600;
    color: #232932;
}

.lang-el-2{
    border-left: 3px solid black;
    height: 40px;
    margin: 0 10px 0 10px;
}

.lang-el-3{
    font-weight: 400;
    color: #BBBDBF;
}


